{% extends "base.html.twig" %}

{% block head %}
    <title>Blog Professionnel - Ajout d'une article</title>
{% endblock %}

{% import 'form.html.twig' as form %}

{% block content %}
    <div id="base-form-page">
        <header>
            <div class="container">
                <h1>Ajout d'un article</h1>
            </div>
        </header>
        <section>
            <div id="articles-edit-structure">   
                <form class="container">

                    {{ form.input('title', 'Titre de l\'article', title) }}
                    {{ form.input('leadParagraph', 'Chapô', leadParagraph)}}
                    {{ form.textarea('name', 'Contenu de l\'article', content) }}

                    <div class="row" id="base-form-button-row">
                        <button type="submit" class="btn btn-primary" id="base-form-button">Ajout de l'article</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}