{% extends "base.html.twig" %}

{% block head %}
    <title>Blog Professionnel - Articles</title>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="articles">
        <h2>Les derniers articles</h2>
    </div>

    <div class="container">
        <button type="submit" class="btn btn-primary" id="contact-button">
            <a href="?page=addArticles">Ajouter un article</a>
        </button>
        <div class="row">
            {% for article in articles %}
                <div class="col-6">
                    <div class="card">
                    <img src="img/php_img.png" class="card-img-top" alt="Php image">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ article.leadParagraph }}</h5>
                            <p class="card-text">{{ article.content | u.truncate(100, '...', false)}}</p>
                            <a href="#">Voir la suite</a>
                        </div>
                        <div class="card-footer"><small class="text-muted">Dernière mis à jour il y a 20 mins</small></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block footer %}
        <!-- Footer -->
        <footer>
            <div class="container-fluid" id="footer-padding">
                <div class="row" id="footer-title">
                    <div class="col-6">
                        <h3>Adresse Postale</h3>
                        <p>21, cours Jean Jaures<br>33100 BORDEAUX</p>
                    </div>
                    <div class="col-6">
                        <h3>Liens Externes</h3>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="copyright-row">
                <div class="row">
                    <p>Copyright © Corenthin FLAMAND 2021</p>
                </div>
            </div>
        </footer>
    {% endblock %}