<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %} {% endblock %}

    <title>Blog Professionnel</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- CSS -->
    <link href="css/blog.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="?page=home">Blog // Corenthin FLAMAND</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="?page=home#presentation">Présentation</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="?page=home#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?page=articles">Articles</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="?page=login">Connexion</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="?page=register">Inscription</a>
                    </li>
                </ul>
            </div>
         </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <!-- JavaScript Bundle with Popper -->
    <script>
        document.getElementById('showpassword').addEventListener('click', (e) => {
            e.preventDefault();
            const input = document.getElementById('password');
            input.type = input.type === 'password' ? 'text' : 'password';
            e.target.innerText = e.target.innerText === 'Voir' ? 'Cacher' : 'Voir';
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>