{% extends "base.html.twig" %}

{% block head %}
    <title>Blog Professionnel - Accueil</title>
{% endblock %}

{% block content %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <h1>Bienvenue <br><span>sur mon Blog professionnel<span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non congue leo, in molestie dui. Nunc sit amet urna sit amet est luctus accumsan id id turpis. In hac habitasse platea dictumst. Donec dolor eros, cursus eget ante eu, facilisis ullamcorper tortor. Morbi orci nibh, semper malesuada ligula in, pretium varius est.
                </p>
            </div>
            <div class="row" id="articles-row">
                <p id="infos-articles">Retrouvez les articles via ce lien</p>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#global_modal" id="articles-button">
                    <a href="page=articles">Page des articles</a>
                </button>
            </div>
        </div>
    </header>
    
    <!-- Presentation -->
    <section id="presentation">
        <div class="container-fluid">
            <div class="row">
                <h2 id="section-name-presentation">Présentation</h2>
            </div>
            <div class="row" id="presentation-row">
                <div class="col-3" id="profile-pic">
                    <img src="img/anonym.jpg" alt="profile picture">
                </div>
                <div class="col-3" id="name-presentation">
                    <p id="title-name">Corenthin <br>FLAMAND<p>
                </div>
                <div class="col-6">
                    <p id="description-presentation">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non congue leo, in molestie dui. Nunc sit amet urna sit amet est luctus accumsan id id turpis. In hac habitasse platea dictumst. Donec dolor eros, cursus eget ante eu, facilisis ullamcorper tortor.
                    </p>
                </div>
            </div>
            <div class="row">
                <p id="cv-download">Vous pouvez retrouver mon CV<br><span>en cliquant sur le bouton juste en dessous</span></p>
            </div>
            <div class="row" id="cv-row">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#global_modal" id="cv-button">
                    <a download="CVCorenthinFlamand" href="img/pdf/CV_corenthin_flamand.pdf">Download</a>
                </button>
            </div>  
        </div>
    </section>

    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <h2 id="section-name-contact">Contact</h2>
            </div>
            <form id="contact-form">
                <div class="row mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nom / Prénom</label>
                    <input type="text" class="form-control">
                </div>
                <div class="row mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="row mb-3">
                    <label for="exampleInputEmail1" class="form-label">Votre message</label>
                    <textarea type="text" class="form-control" aria-describedby="emailHelp"></textarea>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary" id="contact-button">Envoyer</button>
                </div>
            </form>
        </div>
    </section>
    
{% endblock %}