{% extends 'base.html.twig' %}

{% block head %}
    <title>Editer le commentaire</title>
{% endblock %}

{% block content %}

    <section>

        {% if errors %}
            <div>{{ errors }}</div>
        {% endif %}

        <form method='POST'>
            <div class="card">
                <h3 class="card-header">Contenu du commentaire</h3>
                <div class="card-body">
                    <textarea type="text" class="card-text form-control" name="content" id="content" rows="5">{{ comment.comment_content }}</textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Editer le commentaire</button>
        </form>
    </section>